@font-face {
  font-family: lexend;
  src: url(Lexend/Lexend-VariableFont_wght.ttf);
}

@font-face {
  font-family: nox ;
  src: url(Fjalla_One/FjallaOne-Regular.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lexend';
}
html body {
  height: 100%;
  width: 100%;
}

.home{
  width: 100%;
  height: 100vh;
  background-color:#f4f0ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  
}

/* navbar start */
.nav{
  width: 90%;
  height: 8%;
  background-color: #ffffff;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vw;
}
.nav-btn{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.nav-btn button {
  border: none;
  background: none;
  font-family: 'lexend';
  font-size: 1.1vw;
  font-weight: 500;
}

.nav-btn button:hover{
  border-bottom: 1px solid black;
  transform: scale(1.1);
  transition: 100ms;
}
.log h1{
  font-family: 'nox';
}

/* navbar end */


/* home content section  */

.home-content{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;

}

.content-section1{
  height: 95%;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section3{
  height: 95%;
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: blueviolet; */
}

.catalogue{
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: blue; */
}
.catalogue p {
  line-height: 1.7vw;
  font-size: 1.2vw;
}

.catalogue button{
  padding: 1vw 2vw;
  font-size: 1vw;
  border: none;
  border-radius: 30px;
  background-color: #46210d;
  color: white;
}

.side-play{
  width: 12vw ;
  height: 15vw;
  border: 3px solid #46210d;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
 
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-content{
  width: 100%;
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  
}
.play-img{
  width: 70%;
  height: 15vh;
  display: flex;
  justify-content: center;
}

.play-img img{
  width: 100%;
  height: 100%;
}


.play-btn{
  background-color: #ffffff;
  width: 30%;
  height: 15%; 
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn button{
  border: none;
  color: #46210d;
  background: none;
  font-size: 5vw;
}

.section3-img{
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}
.content-section2{
  height: 95%;
  width: 36%;
  
}

.section2-img{
  width: 100%;
  height: 80%;
  background-color: #f4f0ed;
  transform: rotate(9deg);
  

}

.section2-img img{
  border-radius: 20px;
  width: 100%;
  mix-blend-mode: multiply;
 
}

.section2-log{
  width: 32%;
  height: 35%;
  position: absolute;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.section2-log h1{
  font-size: 11rem;
  font-weight: 500;
  font-family: 'nox';

}

.page2{
  width: 100%;
  height: 100vh;
}