@font-face {
  font-family: lexend;
  src: url(Lexend/Lexend-VariableFont_wght.ttf);
}

@font-face {
  font-family: nox ;
  src: url(Fjalla_One/FjallaOne-Regular.ttf);
}


@keyframes rotate {

  0%{
    transform: rotate(180deg);
  }
  
  50%{
    transform: rotate(0eg);
  }

  100%{
    transform: rotate(360deg);
  }
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lexend';
}
html body {
  height: 100%;
  width: 100%;
}

.home{
  width: 100%;
  height: 100vh;
  background-color:#f4f0ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

/* navbar start */
.nav{
  width: 90%;
  height: 8%;
  background-color: #ffffff;
  border-radius: 30px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vw;
}
.nav-btn{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.nav-btn button {
  border: none;
  background: none;
  font-family: 'lexend';
  font-size: 1.1vw;
  font-weight: 500;
}

.nav-btn button:hover{
  border-bottom: 1px solid black;
  transform: scale(1.1);
  transition: 100ms;
}
.log h1{
  font-family: 'nox';
  font-size: 3rem;
}

/* navbar end */


/* home content section  */

.home-content{
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;

}

.content-section1{
  height: 95%;
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section3{
  height: 95%;
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: blueviolet; */
}

.catalogue{
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* background-color: blue; */
}
.catalogue p {
  line-height: 1.7vw;
  font-size: 1.2vw;
}

.catalogue button{
  padding: 1vw 2vw;
  font-size: 1vw;
  border: none;
  border-radius: 30px;
  background-color: #46210d;
  color: white;
}

.catalogue button:hover{
  background-color: white;
  color: #46210d;
  transition: 400ms;
}

.side-play{
  width: 12vw ;
  height: 14vw;
  border: 3px solid #46210d;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.play-content{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.play-para{
  width:100%;
  height: 30%;
}
.play-img{
  height: 40%;
  display: flex;
  justify-content: center;
  animation: rotate  15s infinite;
}

.play-img img{
  width: 100%;
  height: 100%;
}


.play-btn{
  background-color: #f4f0ed;

  width: 20%;
  height: 38%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-btn button{
  border: none;
  color: #46210d;
  background: none;
  font-size: 5vw;
}

.play-btn button:hover{
  transform: scale(1.2);
  transition: 400ms;
}

.section3-img{
  width:90%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.section3-img img{
  width: 90%;

}

.content-section2{
  height: 95%;
  width: 36%;
  
}

.section2-img{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2-img img{
  border-radius: 20px;
  width: 150%;


 
}

.section2-log{
  width: 32%;
  height: 35%;
  position: absolute;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}
.section2-log h1{
  font-size: 11rem;
  font-weight: 500;
  font-family: 'nox';

}


.section1-image{
  width: 30%;
  /* height: 1vh; */
  margin-top: 30vh;
  position: absolute;
  
}

.section1-image img{
  width: 90%;
  transform: rotate(9deg);
}


.page2{
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff ;
}
.page2-section1{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  /* background-color: red; */
}




.page2-section2{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;

}


.section2-content{
  height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  color: #46210d;
  flex-direction: column;
  justify-content: space-around;

}


.section2-content h1{ 
  font-size: 2.5rem;
}
.page2-btn{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.page2-btn button{
  padding: 1vw 2vw;
  border-radius: 30px;
  border: 1px solid #46210d;
  background-color: #46210d;
  color: white;
}

.page2-btn button:hover{
  background-color: white;
  color: #46210d;
  transition: 300ms;
}


/* .page2-section2-img{
  position: absolute;
  width: 20%;
  height: 30%;
  margin-left: 25vw;
  margin-bottom: 25vw;
} */
.page2-section2-img img {
  width: 100%;
}



.page2-section1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2-section1-bg{
position: relative;
width: 300px;
height: 300px;
border: 2px solid rgb(0, 0, 0);
border-radius: 50%;
}

/* .page2-section1-bg .page2-icon{

  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

} */



/* page3 start */


.page3{
  width: 100%;
  height:  80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page3-heading{
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}


.page3-btn{
  width: 8vw;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.page3-btn button{
  padding: 1vw;
  font-size: 1vw;
  border: none;
  border-radius: 50%;
  background-color: #46210d;
  color: white;
}
.page3-containt{
  width: 100%;
  height: 60vh;
  /* background-color: blueviolet; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.page3-card {
  height: 90%;
  width: 24%;
  /* background-color: red; */
}

.card-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

 .card-img{
  width: 90%;
  height: 80%;
  background-color: black;
 }

 .card-detail{
  width: 90%;
  display: flex;
  justify-content: space-between;
 }

.buy-icon{
  width: 3vw;
  height: 3vw;
  font-size: 1.3vw;
  color: #46210d;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.buy-icon:hover{
  background-color: #46210d;
  color: #ffffff;
  transform: scale(1.1);
  transition: 400ms;
}
 
.page4{
  width: 100%;
  height: 80vh;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
}

.page4-heading{
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
}

.page4-heading h1{
  font-size: 11vw;
  color: #46210d;
  font-family: nox;
}

.page4-card{
  width: 95%;
  height: 49vh;
  display: flex;
  justify-content: space-around;
  background-color: blue;
}

.page4-card1{
  width: 25%;
  height: 40vh;
  display: flex;
  justify-content: center;
  background-color: aqua;
}